* {
    margin: 0;
    padding: 0;
}

.game {
    width: 100%;
    height: 500px;
    background: url(./img/background_sky.jpg);
    background-size: cover;
}   

.bottom {
    width: 100%;
    height: 207px;
    background-image: url(./img/sand.jpg);
}

#slime {
    width: 50px;
    height: 50px;
    background-image: url(./img/slime.png);
    background-size: cover;
    position: relative;
    top: 450px;
    left: 400px;
}

#cactus {
    width: 40px;
    height: 55px;
    background-image: url(./img/cactus.png);
    background-size: 40px 55px;
    position: relative;
    top: 395px;
    left: 1480px;
    animation: cactusMove 2s infinite linear;
}

@keyframes cactusMove { 
    0% {
        left: 1480px;
    }

    100% {
        left: -20px;
    }
}

.jump {
    animation: jump .7s  linear;
}

@keyframes jump { 
    0% {
        top: 450px;
    }

    15% {
        top: 425px;
    }

    20% {
        top: 410px;
    }

    30% {
        top: 400px;
    }

    35% {
        top: 380px;
    }

    40% {
        top: 360px;
    }

    45% {
        top: 340px;
    }

    50% {
        top: 320px;
    }

    55% {
        top: 340px;
    }

    60% {
        top: 350px;
    }

    65% {
        top: 370px;
    }

    70% {
        top: 390px;
    }

    75% {
        top: 400px;
    }

    90% {
        top: 410px;
    }

    95% {
        top: 425px;
    }

    100% {
        top: 450px;
    }
}

